<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %} {% endblock %} - Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
<div class="container">
    <div class=" sub-container ">
        <h1> HL</h1>
        <div class="nav">
            {% if g.user %}
            <li> <span>Hi, {{g.user['username']}}  </span></li>
            <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            {% else %}
            <li><a href="{{url_for('auth.register')}}">Register </a></li>
            <li><a href="{{url_for('auth.login')}}">Login</a></li>
            {% endif %}
        </div>
        <div class="">
            <div class="content p-4 ">
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                <div class="flask">{{message}}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
</div>

</body>
</html>