{% extends "base.html" %}

{% block header %}
<h2>{% block title %}Todos{% endblock %}</h2>
    {% if g.user %}
    <a class="action " href='{{url_for("todo.create")}}''>Add</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="todos">
    {% for todo in todos %}
    <li class="todo">
        <div>
            <h3>
                {% if todo["completed"] == 1 %}
                  {{todo["description"]}} <span> x</span> 
                {% else %}
                {{todo["description"]}}

                {% endif %}
            </h3>
            <div class="about">{{ todo["created_at"].strftime("%d-%m-%Y")}}</div>
            <a class="action" href='{{ url_for("todo.update", id=todo["id"])}}''>Edit</a>

        </div>
    </li>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}